<h1>ngx-numpad Demo (0.0.3)</h1>
<i>Tested only to Angular 9</i>
<hr>
<button (click)="open()">Open Numpad</button>
<div class="config-wrapper">
  <h1>Config</h1>
  <section>
    <label>value:</label>
    <input type="text" [formControl]="form.get('value')" />
  </section>
  <section>
    <label>prefix:</label>
    <input type="text" [formControl]="form.get('prefix')" />
  </section>
  <section>
    <label>suffix:</label>
    <input type="text" [formControl]="form.get('suffix')" />
  </section>
  <section>
    <label>cantDecimal:</label>
    <input type="checkbox" [formControl]="form.get('cantDecimal')" />
  </section>
  <section>
    <label>cantZero:</label>
    <input type="checkbox" [formControl]="form.get('cantZero')" />
  </section>
  <section>
    <label>max:</label>
    <input type="number" [formControl]="form.get('max')" />
  </section>
  <section>
    <label>min:</label>
    <input type="number" [formControl]="form.get('min')" />
  </section>
  <section>
    <label>decimalSeparator:</label>
    <input type="text" [formControl]="form.get('decimalSeparator')" />
  </section>
  <section>
    <label>thousandsSeparator:</label>
    <input type="text" [formControl]="form.get('thousandsSeparator')" />
  </section>
  <section>
    <label>disableOtherButtons:</label>
    <input type="checkbox" [formControl]="form.get('disableOtherButtons')" />
  </section>
  <section>
    <label>onlyNegative:</label>
    <input type="checkbox" [formControl]="form.get('onlyNegative')" />
  </section>
  <section>
    <label>onlyPositive:</label>
    <input type="checkbox" [formControl]="form.get('onlyPositive')" />
  </section>
  <section>
    <label>scale:</label>
    <input type="text" [formControl]="form.get('scale')" />
  </section>
</div>
